[Desktop Entry]
 Name=Netflix
 GenericName=Instant Video
 GenericName[de]=Instant Videos abspielen
 Comment=Instant Video
 Exec=/usr/bin/google-chrome --app=https://www.netflix.com/de/
 Icon=/home/silvio/Bilder/netflix.png
 Terminal=false
 Type=Application
 Categories=Multimedia
